body{
	background: url(../img/main_bg.jpg);
}
.w{
	width: 725px;
	
    margin: 0 auto;
	list-style: none;
}
.clear{
	content: "";
	display: table;
	clear: both;
}
/*logo部分*/
.logo{
	padding-top: 38px;
}
.logo a{
	width: 209px;
	height: 44px;
	display: block;
	background: url(../img/logo.gif)no-repeat;
}
.logo p{
	background: url(../img/twitter.gif) right center no-repeat;
	height: 33px;
	float: right;
	padding: 10px 45px 0 0;
	font: 12px georgia;
	color: #FFFFFF;
}
/*nav部分*/
.nav{
	margin-top: 25px;
	height: 40px;
	background: url(../img/bg_menu.gif) repeat-x;
	text-align: center;
}
.nav a{
	display: block;
	float: left;
	width: 110px;
	font: 12px georgia;
	color:#FFFFFF;
	line-height: 40px;
	text-decoration: none;
}
.nav a:hover{
	width: 108px;
	height: 38px;
	background: url(../img/hover.gif);
}
/*banner部分*/
.banner{
	width: 695px;
	height: 70px;
	background:url(../img/bg_simple2.gif) no-repeat;
	font: 30px georgia;
	color: #1b1b1b;
	padding-left: 30px;
	line-height: 70px;
}



/*内容*/


.content{
	background-color: #FFFFFF;
}
.content h3{
	margin-top: 18px;
	font: 18px georgia;
}
.content p{
	font: 10px "times new roman";
	color: #8C8C8C;
	padding: 10px 0;
}
.content .c1{
	float: left;
	margin: 0 19px;
}
.content .left{
	width: 230px;
}
.content .p1{
	font-weight: bold;
	color: #3E3E3E;
	border-bottom: 1px #eaeaea solid;
	padding: 10px 0;
}
.content .right{
	width: 400px;
}
.content .right1{
	width: 187px;
	float: left;
	margin-left: 4px;
}
.content li{
	font: 9px/15px "times new roman";
	color: #8C8C8C;
	background: url(../img/ul_li.gif) no-repeat;
	padding-left: 20px;
}
.content ul{
	margin-bottom: 20px;
}







/*foot部分*/
/*页脚部分*/
.foot{
	
	padding-top: 20px;
	height: 48px;
}
.foot .a1{
	display: block;
	background: url(../img/footer_logo.gif) left center no-repeat;
	width: 140px;
	height: 40px;
}
.foot .footer{
	float: right;
	font: 9px/16px "times new roman";
	color: #FFFFFF;
}
.foot a{
	color: #FFFFFF;
}
